// TAILWIND
@tailwind base;
@tailwind components;
@tailwind utilities;

// FONTS
@import "/assets/fonts/Fonts";
@import "react-tooltip/dist/react-tooltip.css";
@import 'react-image-crop/src/ReactCrop.scss';


*,
::before,
::after {
  box-sizing: border-box !important;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: Inter-SemiBold !important;
  background: #2b2b2b !important;
}

#MainPage {
  background-image: url("../assets/images/background.png") !important;
  background-size: cover !important;
  background-repeat: repeat !important;
}

#CheckoutPage {
  background-image: url("../assets/images/background2.png") !important;
  background-size: cover !important;
  background-repeat: repeat !important;
}

.separator {
  display: flex;
  align-items: center;
  text-align: center;
  color: #777777;
}

.separator::before,
.separator::after {
  content: '';
  flex: 1;
  border-bottom: 1px solid #777777;
}

.separator:not(:empty)::before {
  margin-right: 1.5em;
}

.separator:not(:empty)::after {
  margin-left: 1.5em;
}

.separator-white {
  display: flex;
  align-items: center;
  text-align: center;
  color: #fff;
}

.separator-white::before,
.separator-white::after {
  content: '';
  flex: 1;
  border-bottom: 1px solid #fff;
}

.separator-white:not(:empty)::before {
  margin-right: 1.5em;
}

.separator-white:not(:empty)::after {
  margin-left: 1.5em;
}

input::placeholder {
  color: gray !important;
}

.placeholder-white::placeholder {
  color: white !important;
}

.placeholder-gray::placeholder {
  color: #8B8B8B !important;
}

.designera-box-shadow {
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
}

.designera-text-shadow {
  text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}

.designera-rounded {
  border-radius: 10px;
}

.designera-rounded-2 {
  border-radius: 20px;
}

.designera-rounded-3 {
  border-radius: 8px;
}

.react-photo-gallery--gallery > div > img {
  border-radius: 10px;
}

.react-images__view {
  display: flex;
  justify-content: center;
}

.react-images__blanket {
  z-index: 9999 !important;
}

.react-images__positioner {
  z-index: 10000 !important;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 10px;
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

.scrollbar-hide {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

#keywords {
  max-height: calc(25 * 4px);
  overflow: hidden;
}

.react-tooltip {
  max-width: 300px;
  z-index: 9999;
  border-radius: 10px;
  text-align: center;
}

button:disabled {
  cursor: not-allowed;
}

.chakra-modal__content {
  box-shadow: none !important;
  border: none !important;
}

.react-images__pager {
  z-index: 9999;
}

.alwaysOnTop {
  z-index: 9999;
}

.icon-button:hover {
  background-color: rgba(16, 16, 16, 0.75) !important;

  * {
    fill: #ffffff;
  }
}

.svg-change:hover {
  * {
    fill: #ffffff;
  }
}

.chakra-modal__overlay {
  background-color: rgba(0, 0, 0, 0.70) !important;
}

.designera-rounded-lg {
  border-radius: 8px;
}

.PricingTable {
  border-radius: 10px !important;
}

.custom-input-height {
  height: 80px; /* Set your desired height value */
}

.login-with-google-btn {
  transition: background-color .3s, box-shadow .3s;

  padding: 12px 16px 12px 42px;
  border: none;
  border-radius: 3px;
  box-shadow: 0 -1px 0 rgba(0, 0, 0, .04), 0 1px 1px rgba(0, 0, 0, .25);

  color: #757575;
  font-size: 14px;
  font-weight: 500;
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen,Ubuntu,Cantarell,"Fira Sans","Droid Sans","Helvetica Neue",sans-serif;

  background-image: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTgiIGhlaWdodD0iMTgiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGcgZmlsbD0ibm9uZSIgZmlsbC1ydWxlPSJldmVub2RkIj48cGF0aCBkPSJNMTcuNiA5LjJsLS4xLTEuOEg5djMuNGg0LjhDMTMuNiAxMiAxMyAxMyAxMiAxMy42djIuMmgzYTguOCA4LjggMCAwIDAgMi42LTYuNnoiIGZpbGw9IiM0Mjg1RjQiIGZpbGwtcnVsZT0ibm9uemVybyIvPjxwYXRoIGQ9Ik05IDE4YzIuNCAwIDQuNS0uOCA2LTIuMmwtMy0yLjJhNS40IDUuNCAwIDAgMS04LTIuOUgxVjEzYTkgOSAwIDAgMCA4IDV6IiBmaWxsPSIjMzRBODUzIiBmaWxsLXJ1bGU9Im5vbnplcm8iLz48cGF0aCBkPSJNNCAxMC43YTUuNCA1LjQgMCAwIDEgMC0zLjRWNUgxYTkgOSAwIDAgMCAwIDhsMy0yLjN6IiBmaWxsPSIjRkJCQzA1IiBmaWxsLXJ1bGU9Im5vbnplcm8iLz48cGF0aCBkPSJNOSAzLjZjMS4zIDAgMi41LjQgMy40IDEuM0wxNSAyLjNBOSA5IDAgMCAwIDEgNWwzIDIuNGE1LjQgNS40IDAgMCAxIDUtMy43eiIgZmlsbD0iI0VBNDMzNSIgZmlsbC1ydWxlPSJub256ZXJvIi8+PHBhdGggZD0iTTAgMGgxOHYxOEgweiIvPjwvZz48L3N2Zz4=);
  background-color: white;
  background-repeat: no-repeat;
  background-position: 12px 11px;

  &:hover {
    box-shadow: 0 -1px 0 rgba(0, 0, 0, .04), 0 2px 4px rgba(0, 0, 0, .25);
  }

  &:active {
    background-color: #eeeeee;
  }

  &:focus {
    outline: none;
    box-shadow:
            0 -1px 0 rgba(0, 0, 0, .04),
            0 2px 4px rgba(0, 0, 0, .25),
            0 0 0 3px #c8dafc;
  }

  &:disabled {
    filter: grayscale(100%);
    background-color: #ebebeb;
    box-shadow: 0 -1px 0 rgba(0, 0, 0, .04), 0 1px 1px rgba(0, 0, 0, .25);
    cursor: not-allowed;
  }
}