// TAILWIND
@tailwind base;
@tailwind components;
@tailwind utilities;

// FONTS
@import "/assets/fonts/Fonts";
@import "react-tooltip/dist/react-tooltip.css";
//@import 'react-image-crop/src/ReactCrop.scss';


*,
::before,
::after {
  box-sizing: border-box !important;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: Inter-SemiBold !important;
  background: #2b2b2b !important;
}

#MainPage {
  background-image: url("../assets/images/background.png") !important;
  background-size: 100% auto !important; /* Cover the width of the screen */
  background-repeat: repeat-y !important; /* Prevent repeating */
  background-position: top center !important; /* Center the background image */
}

#CheckoutPage {
  background-image: url("../assets/images/background2.png") !important;
  background-size: 100% auto !important; /* Cover the width of the screen */
  background-repeat: repeat !important; /* Prevent repeating */
  background-position: top center !important; /* Center the background image */
}

.separator {
  display: flex;
  align-items: center;
  text-align: center;
  color: #777777;
}

.separator::before,
.separator::after {
  content: '';
  flex: 1;
  border-bottom: 1px solid #777777;
}

.separator:not(:empty)::before {
  margin-right: 1.5em;
}

.separator:not(:empty)::after {
  margin-left: 1.5em;
}

.separator-white {
  display: flex;
  align-items: center;
  text-align: center;
  color: #fff;
}

.separator-white::before,
.separator-white::after {
  content: '';
  flex: 1;
  border-bottom: 1px solid #fff;
}

.separator-white:not(:empty)::before {
  margin-right: 1.5em;
}

.separator-white:not(:empty)::after {
  margin-left: 1.5em;
}

input::placeholder {
  color: gray !important;
}

.placeholder-white::placeholder {
  color: white !important;
}

.placeholder-gray::placeholder {
  color: #8B8B8B !important;
}

.designera-box-shadow {
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
}

.designera-text-shadow {
  text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}

.designera-rounded {
  border-radius: 10px;
}

.designera-rounded-2 {
  border-radius: 20px;
}

.designera-rounded-3 {
  border-radius: 8px;
}

.react-photo-gallery--gallery > div > img {
  border-radius: 10px;
}

@keyframes fadeInAnimation {
  from { opacity: 0; }
  to { opacity: 1; }
}

.react-images__view {
  display: flex;
  justify-content: center;
}

.react-images__blanket {
  z-index: 9999 !important;
}

.react-images__positioner {
  z-index: 10000 !important;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 10px;
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

.scrollbar-hide {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

#keywords {
  max-height: calc(25 * 4px);
  overflow: hidden;
}

.react-tooltip {
  max-width: 300px;
  z-index: 9999;
  border-radius: 10px;
  text-align: center;
}

button:disabled {
  cursor: not-allowed;
}

.chakra-modal__content {
  box-shadow: none !important;
  border: none !important;
}

.react-images__pager {
  z-index: 9999;
}

.alwaysOnTop {
  z-index: 9999;
}

.icon-button:hover {
  background-color: rgba(16, 16, 16, 0.75) !important;

  * {
    fill: #ffffff;
  }
}

.detection-icon:hover {
  opacity: 1.0;
}

.svg-change:hover {
  * {
    fill: #ffffff;
  }
}

.chakra-modal__overlay {
  background-color: rgba(0, 0, 0, 0.70) !important;
}

.designera-rounded-lg {
  border-radius: 6px;
}

.PricingTable {
  border-radius: 10px !important;
}

.custom-input-height {
  height: 80px; /* Set your desired height value */
}

.login-with-google-btn {
  transition: background-color .3s, box-shadow .3s;

  padding: 12px 16px 12px 42px;
  border: none;
  border-radius: 3px;
  box-shadow: 0 -1px 0 rgba(0, 0, 0, .04), 0 1px 1px rgba(0, 0, 0, .25);

  color: #757575;
  font-size: 14px;
  font-weight: 500;
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen,Ubuntu,Cantarell,"Fira Sans","Droid Sans","Helvetica Neue",sans-serif;

  background-image: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTgiIGhlaWdodD0iMTgiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGcgZmlsbD0ibm9uZSIgZmlsbC1ydWxlPSJldmVub2RkIj48cGF0aCBkPSJNMTcuNiA5LjJsLS4xLTEuOEg5djMuNGg0LjhDMTMuNiAxMiAxMyAxMyAxMiAxMy42djIuMmgzYTguOCA4LjggMCAwIDAgMi42LTYuNnoiIGZpbGw9IiM0Mjg1RjQiIGZpbGwtcnVsZT0ibm9uemVybyIvPjxwYXRoIGQ9Ik05IDE4YzIuNCAwIDQuNS0uOCA2LTIuMmwtMy0yLjJhNS40IDUuNCAwIDAgMS04LTIuOUgxVjEzYTkgOSAwIDAgMCA4IDV6IiBmaWxsPSIjMzRBODUzIiBmaWxsLXJ1bGU9Im5vbnplcm8iLz48cGF0aCBkPSJNNCAxMC43YTUuNCA1LjQgMCAwIDEgMC0zLjRWNUgxYTkgOSAwIDAgMCAwIDhsMy0yLjN6IiBmaWxsPSIjRkJCQzA1IiBmaWxsLXJ1bGU9Im5vbnplcm8iLz48cGF0aCBkPSJNOSAzLjZjMS4zIDAgMi41LjQgMy40IDEuM0wxNSAyLjNBOSA5IDAgMCAwIDEgNWwzIDIuNGE1LjQgNS40IDAgMCAxIDUtMy43eiIgZmlsbD0iI0VBNDMzNSIgZmlsbC1ydWxlPSJub256ZXJvIi8+PHBhdGggZD0iTTAgMGgxOHYxOEgweiIvPjwvZz48L3N2Zz4=);
  background-color: white;
  background-repeat: no-repeat;
  background-position: 12px 11px;

  &:hover {
    box-shadow: 0 -1px 0 rgba(0, 0, 0, .04), 0 2px 4px rgba(0, 0, 0, .25);
  }

  &:active {
    background-color: #eeeeee;
  }

  &:focus {
    outline: none;
    box-shadow:
            0 -1px 0 rgba(0, 0, 0, .04),
            0 2px 4px rgba(0, 0, 0, .25),
            0 0 0 3px #c8dafc;
  }

  &:disabled {
    filter: grayscale(100%);
    background-color: #ebebeb;
    box-shadow: 0 -1px 0 rgba(0, 0, 0, .04), 0 1px 1px rgba(0, 0, 0, .25);
    cursor: not-allowed;
  }
}

@keyframes pulse {
  0% {
    opacity: 0.85; /* Initial opacity */
  }
  50% {
    opacity: 1.0; /* Max opacity */
  }
  100% {
    opacity: 0.85; /* Back to initial opacity */
  }
}


@media (min-width: 3840px) {
  .w-4k {
    width: 60%;
  }
}







.ReactCrop {
  position: relative;
  display: inline-block;
  cursor: crosshair;
  overflow: hidden;
  max-width: 100%
}

.ReactCrop *,
.ReactCrop *:before,
.ReactCrop *:after {
  box-sizing: border-box
}

.ReactCrop--disabled,
.ReactCrop--locked {
  cursor: inherit
}

.ReactCrop__child-wrapper {
  max-height: inherit
}

.ReactCrop__child-wrapper>img,
.ReactCrop__child-wrapper>video {
  display: block;
  max-width: 100%;
  max-height: inherit
}

.ReactCrop:not(.ReactCrop--disabled) .ReactCrop__child-wrapper>img,
.ReactCrop:not(.ReactCrop--disabled) .ReactCrop__child-wrapper>video {
  touch-action: none
}

.ReactCrop__crop-selection {
  position: absolute;
  top: 0;
  left: 0;
  transform: translateZ(0);
  cursor: move;
  box-shadow: 0 0 0 9999em #00000080
}

.ReactCrop--disabled .ReactCrop__crop-selection {
  cursor: inherit
}

.ReactCrop--circular-crop .ReactCrop__crop-selection {
  border-radius: 10px
}

.ReactCrop--no-animate .ReactCrop__crop-selection {
  outline: 2px solid white
}

.ReactCrop__crop-selection:not(.ReactCrop--no-animate .ReactCrop__crop-selection) {
  animation: marching-ants 10s;
  background-image: linear-gradient(to right, #fff 50%, #444 50%), linear-gradient(to right, #fff 50%, #444 50%), linear-gradient(to bottom, #fff 50%, #444 50%), linear-gradient(to bottom, #fff 50%, #444 50%);
  background-size: 10px 1px, 10px 1px, 1px 10px, 1px 10px;
  background-position: 0 0, 0 100%, 0 0, 100% 0;
  background-repeat: repeat-x, repeat-x, repeat-y, repeat-y;
  color: #fff;
  animation-play-state: running;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  border-radius: 10px
}

@keyframes marching-ants {
  0% {
      background-position: 0 0, 0 100%, 0 0, 100% 0
  }

  to {
      background-position: 20px 0, -20px 100%, 0 -20px, 100% 20px
  }
}

.ReactCrop--invisible-crop .ReactCrop__crop-selection {
  display: none
}

.ReactCrop__rule-of-thirds-vt:before,
.ReactCrop__rule-of-thirds-vt:after,
.ReactCrop__rule-of-thirds-hz:before,
.ReactCrop__rule-of-thirds-hz:after {
  content: "";
  display: block;
  position: absolute;
  background-color: #fff6
}

.ReactCrop__rule-of-thirds-vt:before,
.ReactCrop__rule-of-thirds-vt:after {
  width: 1px;
  height: 100%
}

.ReactCrop__rule-of-thirds-vt:before {
  left: 33.3333333333%
}

.ReactCrop__rule-of-thirds-vt:after {
  left: 66.6666666667%
}

.ReactCrop__rule-of-thirds-hz:before,
.ReactCrop__rule-of-thirds-hz:after {
  width: 100%;
  height: 1px
}

.ReactCrop__rule-of-thirds-hz:before {
  top: 33.3333333333%
}

.ReactCrop__rule-of-thirds-hz:after {
  top: 66.6666666667%
}

.ReactCrop__drag-handle {
  position: absolute
}

.ReactCrop__drag-handle:after {
  position: absolute;
  content: "";
  display: block;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255);
}

.ReactCrop__drag-handle:focus:after {
  border-color: #00f;
  background: #2dbfff
}

.ReactCrop .ord-nw {
  top: 0;
  left: 0;
  margin-top: -4px;
  margin-left: -4px;
  cursor: nw-resize
}

.ReactCrop .ord-nw:after {
  top: 0;
  left: 0
}

.ReactCrop .ord-n {
  top: 0;
  left: 50%;
  margin-top: -6px;
  margin-left: -5px;
  cursor: n-resize
}

.ReactCrop .ord-n:after {
  top: 0
}

.ReactCrop .ord-ne {
  top: 0;
  right: 0;
  margin-top: -4px;
  margin-right: -4px;
  cursor: ne-resize
}

.ReactCrop .ord-ne:after {
  top: 0;
  right: 0
}

.ReactCrop .ord-e {
  top: 50%;
  right: 0;
  margin-top: -5px;
  margin-right: -6px;
  cursor: e-resize
}

.ReactCrop .ord-e:after {
  right: 0
}

.ReactCrop .ord-se {
  bottom: 0;
  right: 0;
  margin-bottom: -4px;
  margin-right: -4px;
  cursor: se-resize
}

.ReactCrop .ord-se:after {
  bottom: 0;
  right: 0
}

.ReactCrop .ord-s {
  bottom: 0;
  left: 50%;
  margin-bottom: -6px;
  margin-left: -5px;
  cursor: s-resize
}

.ReactCrop .ord-s:after {
  bottom: 0
}

.ReactCrop .ord-sw {
  bottom: 0;
  left: 0;
  margin-bottom: -4px;
  margin-left: -4px;
  cursor: sw-resize
}

.ReactCrop .ord-sw:after {
  bottom: 0;
  left: 0
}

.ReactCrop .ord-w {
  top: 50%;
  left: 0;
  margin-top: -5px;
  margin-left: -6px;
  cursor: w-resize
}

.ReactCrop .ord-w:after {
  left: 0
}

.ReactCrop__disabled .ReactCrop__drag-handle {
  cursor: inherit
}

.ReactCrop__drag-bar {
  position: absolute
}

.ReactCrop__drag-bar.ord-n {
  top: 0;
  left: 0;
  width: 100%;
  height: 6px;
  margin-top: -3px
}

.ReactCrop__drag-bar.ord-e {
  right: 0;
  top: 0;
  width: 6px;
  height: 100%;
  margin-right: -3px
}

.ReactCrop__drag-bar.ord-s {
  bottom: 0;
  left: 0;
  width: 100%;
  height: 6px;
  margin-bottom: -3px
}

.ReactCrop__drag-bar.ord-w {
  top: 0;
  left: 0;
  width: 6px;
  height: 100%;
  margin-left: -3px
}

.ReactCrop--new-crop .ReactCrop__drag-bar,
.ReactCrop--new-crop .ReactCrop__drag-handle,
.ReactCrop--fixed-aspect .ReactCrop__drag-bar,
.ReactCrop--fixed-aspect .ReactCrop__drag-handle.ord-n,
.ReactCrop--fixed-aspect .ReactCrop__drag-handle.ord-e,
.ReactCrop--fixed-aspect .ReactCrop__drag-handle.ord-s,
.ReactCrop--fixed-aspect .ReactCrop__drag-handle.ord-w {
  display: none
}

@media (pointer: coarse) {

  .ReactCrop .ord-n,
  .ReactCrop .ord-e,
  .ReactCrop .ord-s,
  .ReactCrop .ord-w {
      display: none
  }

  .ReactCrop__drag-handle {
      width: 24px;
      height: 24px
  }
}

